/*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */



/* CSS Document */


/* General */

* { margin: 0; padding: 0; }

html { height: 100%; font-size: 62.5% }

body {
height: 100%;
/*background-color: #10578D;*/
background-color: white;
text-align: center;
font: 1.2em Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:visited {
color: #004F8B;
text-decoration: underline;
font-weight: bolder;
}

a:hover {
text-decoration: none;
}

.noscreen {
display: none;
}


/* Cleaner */

.cleaner {
clear: both;
height: 0;
font-size: 0;
visibility: hidden;
}


/* Skip menu */

.hidden {
position: absolute;
top: -10000px;
left: 0;
width: 1px;
height: 1px;
overflow: hidden;
}


/* Images */



/* Wrapper */

#wrapper {
width: 850px;
margin: 60px auto 0 auto;
padding-bottom: 90px;
text-align: left;
}


/* Headings, paragraphs */

.title {
background-color: #9C3D1F;
letter-spacing: 1px;
width: 39em;
}

.title-top { background: url('.img/title-top.gif') repeat-x 0 0; }
.title-left { background: url('.img/title-left.gif') repeat-y 0 0 }
.title-right { background: url('.img/title-right.gif') repeat-y 100% 0 }
.title-bottom { background: url('.img/title-bottom.gif') repeat-x 0 100% }
.title-top-left { background: url('.img/title-top-left.gif') no-repeat 0 0; }
.title-top-right { background: url('.img/title-top-right.gif') no-repeat 100% 0; }
.title-bottom-left { background: url('.img/title-bottom-left.gif') no-repeat 0 100%; }
.title-bottom-right { background: url('.img/title-bottom-right.gif') no-repeat 100% 100%; }

.title p {
color: #FFFFFF;
margin: 4px 0 0 21px;
padding-bottom: 12px;
}

h1 {
font: normal 2.4em Georgia, "Times New Roman", Times, serif;
color: #FFFFFF;
padding-top: 25px;
margin-left: 20px;
}

h1 a:link, h1 a:visited {
color: #FFFFFF;
text-decoration: none;
font-weight: normal;
}

h1 span {
color: #FFB849;
}

h2 {
font: normal 1.5em Georgia, "Times New Roman", Times, serif;
color: #9C3D1F;
letter-spacing: 1px;
background: url('.img/h2-bg.gif') no-repeat 0 53%;
padding-left: 25px;
margin-bottom: 7px;
}


/* Menu */

ul.menu {
list-style-type: none;
}

ul.menu li {
background: url('.img/menu-li-divider.gif') no-repeat 50% 100%;
padding: 18px 0;
}

ul.menu li a, ul.menu li a:visited {
color: #000000;
font-weight: normal;
text-decoration: none;
padding: 4px 7px;
}

ul.menu li a:hover, ul.menu li a.active {
background-color: #9C3D1F;
}

ul.menu li.last {
background: ;
}


/* Content box */

.content {
width: 850px;
margin: 19px auto 0 auto;
}

.column-left {
float: left;
width: 165px;
text-align: center;
color: #FFFFFF;
}

.column-left h3 {
font: normal 1.5em Georgia, "Times New Roman", Times, serif;
margin: 10px 0 7px 0;
letter-spacing: 1px;
}

.column-right {
margin: 0 0 0 191px;
width: 650px;
}

.box-top {
background: url('.img/box-top.gif') no-repeat 0 0;
height: 12px;
}

.box {
background: url('.img/box-bg.gif') repeat-y 0 0;
}

.box-in {
background-color: #FFFFFF;
padding: 0.8em 0 5em 0;
margin: 0 6em 0 2em;
}

.box-in p {
line-height: 1.6;
margin: 0 0 10px 25px;
color: #242424;
}

.box-bottom {
background: url('.img/box-bottom.gif') no-repeat 0 100%;
height: 48px;
}

ul.main-list {
list-style-type: none;
margin: 14px 0 20px 25px;
}

ul.main-list li {
line-height: 1.3;
margin-bottom: 12px;
color: #004F8B;
background: url('.img/bullet.gif') no-repeat 0 0;
padding-left: 27px;
}


/* Footer */

.footer-info-left, .footer-info-right {
font-size: 0.8em;
color: #626262;
position: relative;
top: -7px;
display: inline;
}

.footer-info-left {
float: left;
margin-left: 17px;
}

.footer-info-right {
float: right;
margin-right: 40px;
}

.footer-info-left a, .footer-info-left a:visited, .footer-info-right a, .footer-info-right a:visited {
font-weight: normal;
color: #626262;
}

